@import "tailwindcss";

/* Thin (100) */
@font-face {
  font-family: "IBMPlexSansArabic";
  src: url("/fonts/IBMPlexSansArabic-Thin.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

/* ExtraLight (200) */
@font-face {
  font-family: "IBMPlexSansArabic";
  src: url("/fonts/IBMPlexSansArabic-ExtraLight.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

/* Light (300) */
@font-face {
  font-family: "IBMPlexSansArabic";
  src: url("/fonts/IBMPlexSansArabic-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/* Regular (400) */
@font-face {
  font-family: "IBMPlexSansArabic";
  src: url("/fonts/IBMPlexSansArabic-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Medium (500) */
@font-face {
  font-family: "IBMPlexSansArabic";
  src: url("/fonts/IBMPlexSansArabic-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* SemiBold (600) */
@font-face {
  font-family: "IBMPlexSansArabic";
  src: url("/fonts/IBMPlexSansArabic-SemiBold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* Bold (700) */
@font-face {
  font-family: "IBMPlexSansArabic";
  src: url("/fonts/IBMPlexSansArabic-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* fall back */
@font-face {
  font-family: "IBMPlexSansArabic";
  src: url("/fonts/IBMPlexSansArabic-Text.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@theme {

  --font-custom: "IBMPlexSansArabic", sans-serif;

  --color-mirage-50: #f1f5fc;
  --color-mirage-100: #e6ecf9;
  --color-mirage-200: #d2ddf3;
  --color-mirage-300: #b7c6ea;
  --color-mirage-400: #99a9e0;
  --color-mirage-500: #808cd4;
  --color-mirage-600: #666cc5;
  --color-mirage-700: #565aac;
  --color-mirage-800: #1f2038;
  --color-mirage-900: #0f1f39;
  --color-mirage-950: #161727;


  --color-nile-50: #f5f7fa;
  --color-nile-100: #e9eef5;
  --color-nile-200: #cfdbe8;
  --color-nile-300: #a4bed5;
  --color-nile-400: #749bbc;
  --color-nile-500: #40678c;
  --color-nile-600: #2c5378;
  --color-nile-700: #345270;
  --color-nile-800: #2e465e;
  --color-nile-900: #2a3c50;
  --color-nile-950: #1c2735;



}

@source inline("{md:,lg:,}grid-cols-{1,{2..11..2},12}");


.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}